example_getUserPlaylistVideoTitles.flow
[{"id":"6812e728.97ed18","type":"YouTube Channels","config":"","part":"contentDetails","categoryId":"","forUsername":"TheCrystalMethod","channelIds":"","managedByMe":"","mine":"","mySubscribers":"","maxResults":5,"onBehalfOfContentOwner":"","pageToken":"","name":"TheCrystalMethod Channel","x":368,"y":661,"z":"88661d46.7799e","wires":[["66d56592.992a9c"]]},{"id":"c4b66425.3b4998","type":"YouTube PlayLists","config":"","part":"snippet","channelId":"","playlistId":"","mine":"","maxResults":5,"onBehalfOfContentOwner":"","onBehalfOfContentOwnerChannel":"","pageToken":"","name":"Get Channel Playlists","x":770,"y":661,"z":"88661d46.7799e","wires":[["c4617852.3b9e88"]]},{"id":"66d56592.992a9c","type":"function","name":"","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { channelId: msg.payload.items[x].id };\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];\n","outputs":1,"x":576,"y":659,"z":"88661d46.7799e","wires":[["c4b66425.3b4998"]]},{"id":"a3a40160.5c5c","type":"inject","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142,"y":661,"z":"88661d46.7799e","wires":[["6812e728.97ed18"]]},{"id":"c4617852.3b9e88","type":"function","name":"","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { playlistId: msg.payload.items[x].id };\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];","outputs":1,"x":977,"y":660,"z":"88661d46.7799e","wires":[["fa98eb65.056718","57e503f5.a81afc"]]},{"id":"fa98eb65.056718","type":"YouTube PlayListItems","config":"","part":"snippet","playlistId":"","playlistItemIds":"","maxResults":5,"onBehalfOfContentOwner":"","pageToken":"","videoId":"","fields":"","name":"Get Playlist Items","x":1158,"y":658,"z":"88661d46.7799e","wires":[["7356a04c.8ca96"]]},{"id":"7356a04c.8ca96","type":"function","name":"","func":"var totalResults = msg.payload.pageInfo.totalResults;\nvar maxResults = msg.payload.pageInfo.resultsPerPage;\nvar resultsCount = maxResults < totalResults ? maxResults : totalResults;\n\nvar msgArray = new Array();\nfor ( var x = 0; x < resultsCount; x ++ )\n{\n\tvar newMsg = { \n\t    playlistItemId: msg.payload.items[x].id,\n\t\tvideoId: msg.payload.items[x].snippet.resourceId.videoId,\n\t\ttitle: msg.payload.items[x].snippet.title,\n\t};\n\tmsgArray.push( newMsg );\n}\n\nreturn [ msgArray ];","outputs":1,"x":1328,"y":661,"z":"88661d46.7799e","wires":[["57e503f5.a81afc"]]},{"id":"57e503f5.a81afc","type":"debug","name":"","active":true,"console":"false","complete":"true","x":1488,"y":798,"z":"88661d46.7799e","wires":[]}]
